* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background: #01043d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 60px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-section img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  transition: 0.3s;
}

.nav-links a:hover {
    color: red;
}

/* Dropdown Styling */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 35px;
  background: hsla(0, 0%, 20%, 0.2);
  backdrop-filter: blur(5px);
  list-style: none;
  display: none;
  min-width: 150px;
  border-radius: 5px;
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  white-space: nowrap;
  text-align: center;
}

.dropdown-menu li a:hover {
    color: white;
  background: #ffffff29;
} 

/* Hover to open dropdown */
.dropdown:hover .dropdown-menu {
  display: block;
}

.Leaders {
  padding: 100px 40px;
  background: #f7f7f7;
}

.Leaders .title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #333;
}

.Leaders-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 10px;
}

.grid-items {
  background: #fff;
  border-radius: 12px;
  padding: 18px;
  text-align: center;
  border: 3px solid #d4ebf2;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
  height: 300px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.grid-items:hover {
  transform: translateY(-6px);
  transition: 0.3s;
}

.grid-items img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
}

.grid-items h3 {
  margin-top: 3px;
  font-size: 1.1rem;
  font-weight: bold;
}

.grid-items p {
  font-size: 0.85rem;
  opacity: 0.8;
}

  /* ===== RESPONSIVE ===== */
  @media (max-width: 768px) {
    .menu-toggle {
      display: flex;
    }

    .nav-links {
      position: fixed;
      top: 65px;
      right: -100%;
      height: 100vh;
      width: 220px;
      background: #01043d;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 20px;
      transition: 0.3s;
    }

    .nav-links li {
      width: 100%;
      margin-left: 0;
    }

    .nav-links li a {
      width: 100%;
      padding: 15px 20px;
    }

    .nav-links.active {
      right: 0;
    }

    .dropdown-menu {
      position: static;
    }

    .dropdown:hover .dropdown-menu {
      display: none;
    }

    .dropdown.active .dropdown-menu {
      display: block;
    }
  }
</style>

<script>
  const navLinks = document.querySelector('.nav-links');

  function toggleMenu() {
    navLinks.classList.toggle('active');
  }
